<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<style>
	
</style>
</head>
<body>
<!--
一  组件就是自定义元素---没有原生属性---属性分类
1.  v-bind 

二  组件和组件模板存在对应关系
-->
<div id='app' >
	<template id='temp'>
	  <div :style="{fontSize:fontSize+'rem'}">
		  <comp
			  class='aaa'
			  v-for='post of posts'
				:post='post'
				:key='post.title'
				@bigger='fontSize+=$event'
			>
			  fdfdfdfdf
			</comp>
			<comp-input v-model='val'></comp-input>
			{{val}}
			<!--等价于
			<comp-input :value='val' @input="val='$event'">
			-->
		</div>
	</template>
</div>

<script src="../modules/vue.js"></script>
<script>
Vue.component('comp',{
  template:`
	  <div>
			<div>{{post.title}}</div>
			<slot></slot>
			<div v-html='post.content'></div>
			<button @click="$emit('bigger',0.1)">bigger</button>
		</div>
	`,
	props:['post']

})
Vue.component('comp-input',{
  template:`
	  <input :value="val" @input="$emit('input',$event.target.value)"/>
	`,
	props:['val'],
	data(){
	  return {
		  //val:''
		}
	},
	watch:{
	  val(newVal){
			//console.log(newVal)
		}
	}
})
let vm=new Vue({
  el:"#app",
	template:'#temp',
	data(){
	  return {
		  posts:[
			  {title:'a',content:`aaaaa`},
				{title:'b',content:`bbbbb`},
				{title:'c',content:`ccccc`},
			],
			fontSize:2,
			val:'ttt'
		}
	},
	computed:{
	  
	},
	watch:{
		val(newVal){
		  console.log(newVal)
		}
	},
	methods:{
	  fn(arg){
		  this.fontSize=arg
		}
	},
	beforeMount(){
	  //this.a=44
	},
	mounted(){
	  //this.a=33
	},
	updated(){
	  //console.log('updated')
	}
})
</script>
</body>
</html>